html, body {
  margin: 0;
}

.container {
  max-width: 70em;
  margin: 1em auto;
  padding: 0 1em;
}

/* Button Styles */

.btn {
  border-radius: 4px;
  border: 2px solid;
  padding: 1em;
  margin: 0.5em;
}

.btn > * {
  margin: 0;
}

.btn-blue {
  border-color: #145289;
  background-color: #298BDF;
  color: white;
}

.btn-orange {
  border-color: #90382B;
  background-color: #DF4229;
  color: white;
}

.btn-pink {
  border-color: #773A89;
  background-color: #CE275D;
  color: white;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons > a {
  text-decoration: none;
}

.btn-blue:hover {
  background-color: #145289; 
}

.btn-orange:hover {
  background-color: #90382B; 
}

.btn-pink:hover {
  background-color: #773A89;
}

img {
  max-width:100%;
}

/* Footer Styles */

footer, .footer {
  /* Footer colouring is handled by individual pages so that these
     styles can be shared with the cover homepage */
  color: white;
  padding-left: 0.5em;
}

footer > a > img, .footer > a > img {
  max-height: 2em;
  float:left;
  padding: 1em;
  padding-right: 0;
}

/* Font Styles */

body {
  font-family: -apple-system, BlinkMacSystemFont,
  'avenir next', avenir,
  helvetica, 'helvetica neue',
  ubuntu,
  roboto, noto,
  'segoe ui', arial,
  sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inconsolata, monospace;
}

.mono {
  font-family: Inconsolata, monospace;
}

.subhead {
  font-weight: normal;
}

/* Shared navbar styles */

.nav ul li a:hover {
  font-weight: bold;
}

/* Navbar Styles (overwitten by local templates) */

/* Just in case flex is not working */

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.nav {
  padding: 0;
  border-radius: 4px;
  background-color: #222;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  padding: 1em;
  margin: 0;

  display: block;
  float: left; /* Remove awful extra whitespace between ul items */
}

.nav ul li a {
  color: white;
  text-decoration: none;
}

.navbutton {
  display: none;
  width: 100%;
}

.navbutton i {
  float: right;
  padding: 1em;
  color: white;
}

/* We only want a border on all but the last element to act as a separator */
.rightborder {
  border-right: 1px solid white;
}

.active {
  font-weight: bold;
}

.code {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.icon-pad {
  width: 2em;
  text-align: center;

  display: inline-block;
}

/* Header Styes */

.header {
  padding: 2em 0 1em 0;
  width: 100%;
  
  color: white;
  text-align: center;

  background-image: url(../images/image-2.png);
  background-size: cover;
}

.header-content img {
  max-height: 20vh;
  max-width: 70%;
}

/* YouTube styling */

.videowrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media Queries */
@font-face{
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .navbutton {
    display: block;
  }

  .rightborder {
    border: none;
  }

  .left-nav, .right-nav {
    width: 100%;
    display: none;
  }

  .left-nav ul, .right-nav ul {
    display: flex;
    flex-direction: column;
    
    justify-content: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .left-nav ul {
    padding-left: 1em;
  }

  .left-nav ul li, .right-nav ul li {
    padding-right: 0;
    padding-left: 0;

    width: 100%;
  }

  .right-nav ul li a {
    padding-left: 1em;
  }

  .code {
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

}
